.background {
  background-color: #fdfdfd;
  display: flex;
  .sidebar {
    background-color: #212529;
    height: 100vh;
    width: 240px;
    transition: width 0.4s ease, padding 0.4s ease;
    overflow: hidden;
    &.collapsed {
      width: 112px;

      .sidebar__header .logo__a {
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
      }
      .sidebar__header .logo__b {
        opacity: 1;
        transform: translateY(-10px);
        animation: fall 0.4s ease forwards;
        top: 0px;
        pointer-events: none;
      }
      .sidebar__menu li {
        a {
          background-color: #c2c2c2;
          cursor: pointer;
          span {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
    .sidebar__header {
      position: relative;
      .logo {
        display: flex;
        padding-top: 32px;
        padding-left: 32px;
        padding-bottom: 16px;
        opacity: 1;
        transition: opacity 0.4s ease, transform 0.4s ease;
      }
      .logo__a {
        display: flex;
      }
      .logo__b {
        position: absolute;
        opacity: 1;
        transform: translateY(-20px);
        transition: opacity 0.4s ease, transform 0.4s ease;
        top: 21px;
      }
    }
    .sidebar__menu {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        margin: 0 32px;
        a {
          display: flex;
          gap: 8px;
          align-items: center;
          padding: 12px 0 12px 12px;
          border-radius: 8px;
          background-color: #c2c2c2;
          span {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: #fff;
            transition: opacity 0.3s ease, visibility 0.3s ease;
            opacity: 1;
            visibility: visible;
          }
          img {
            width: 24px;
            height: 24px;
            transition: none;
          }
        }
      }
    }
  }
  .main-content {
    height: 64px;
    .profile {
      width: 184px;
      height: 40px;
      display: flex;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid #e9ecef;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 12px;
      top: 12px;
      .logout {
      }
    }
  }
  .btn__toggle {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    position: absolute;
    box-shadow: 0px 8px 32px 0px #ced4da26;
    top: 12px;
    left: 220px;
    cursor: pointer;
    transition: left 0.4s ease;
    &:hover {
      background-color: #c2c2c2;
    }
  }
  .sidebar.collapsed + .btn__toggle {
    left: 90px;
    .arrow {
      transform: rotate(180deg);
    }
  }
  @keyframes fall {
    0% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
